.main {
  border-radius: 40px;
  background: #f8f9fa;
  width: 90%;
  /* height: 1000px; */
  padding: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  /* border: 1px solid red; */
}
.innerMainDiv {
  width: 90%;
}
@media screen and (max-width: 1100px) {
  .main {
    /* width: 98%; */
    padding: 20px;
  }
  .innerMainDiv {
    width: 98%;
  }
}
.text {
  margin-left: 50px;
  margin-top: 10px;
}
.settingprofile {
  border-radius: 2rem;
  /* border: solid red; */
  background: white;

  height: 150px;
  width: 90%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}
.details {
  margin-top: 1rem;
  flex-direction: column;
}
.username {
  display: flex;
  /* border: solid blue; */
}
.address {
  margin-top: 1rem;
  display: flex;
  color: #a5a5a5;
  border-bottom: red;
  border-width: 100%;
  /* border: solid green; */
}
.othersettings {
  display: grid;
  grid-template-columns: auto auto auto;
  /* flex-wrap: wrap; */
}
.mybookings {
  margin-left: 10%;
  background: white;
  height: 150px;
  width: 300px;
  border-radius: 2rem;
}
.resort {
  margin-left: 5%;
  background: white;
  height: 150px;
  width: 300px;
  border-radius: 2rem;
}
